
/*________________nav*/

html,body {
 padding:0px;
 margin:0px;
 font-size: 12px;
font-family: helvetica;
}

nav{ 
 background-color: #71c55b  ;
 padding: 10px;
 color: black;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 2px solid #7B926A;
}

nav ul {
 display: flex;
}

nav li {
padding-right: 10px;
list-style: none;
}

nav li a {
 color: black;
 text-decoration: none;
}

nav li a:hover{
 color: white;
}

/*_______________main section*/

.imagen{
    width:60px;
    height:60px;
}

.main_section{
    padding: 5%;
    text-align: center;
    text-decoration:underline ;
    font-family: Marcellus SC;
}     

.fondo{
 background-image: url("../Imagenes/font.png");
 height: 800px;
 background-size: cover;
 background-position: center top ;
}

.productos{
    padding:20px;
    color: white;
    display: flex;
}

.producto{
    padding: 10px;
}

.producto .contenedor{
    padding:20px;
    color: white;
    background-color:red;   
    border: 2px solid darkred;
} 